/*pre{
    overflow: auto;
}*/

.jth-punctuator {
    color: #ccc;
    margin-left: 1rem;
}

.jth-punctuator.jth-round-bracket{
    margin: 0;
}
.jth-punctuator.jth-round-bracket + .jth-punctuator.jth-curly-bracket.jth-opening {
    margin-left: .2rem;
}

.jth-punctuator.jth-lvl_1.jth-curly-bracket {
    margin-left: calc(1 * 1rem);
}
.jth-punctuator.jth-lvl_1.jth-curly-bracket.jth-opening {
    margin-top: 1rem;
}
.jth-punctuator.jth-lvl_1.jth-curly-bracket.jth-closing {
    margin-bottom: 1rem;
}
.jth-punctuator.jth-lvl_2.jth-curly-bracket {
    margin-left: calc(2 * 1rem);
}

.jth-punctuator.jth-dot {
    margin-left: 0;
}

.jth-punctuator.jth-comma {
    margin-left: .3rem;
}

.jth-punctuator.jth-semicolon {
    margin-left: 0;
}

.jth-number {
    color: #b5f4a5;
}

.jth-boolean, .jth-function {
    color: #93ddfd;
}

.jth-function-name, .jth-function-call {
    color: #6196cc;
    margin-left: .3rem;
}
.jth-function-call.jth-lvl_2 {
    margin-left: calc(2 * 2rem);
}
.jth-punctuator.jth-dot + .jth-function-call {
    margin-left: 0;
}
.jth-function-call.jth-lvl_3 {
    margin-left: calc(3 * 2rem);
}
.jth-function-call.jth-lvl_4 {
    margin-left: calc(4 * 2rem);
}
.jth-function-call.jth-lvl_5 {
    margin-left: calc(5 * 2rem);
}

.jth-string, .jth-char, .jth-attr-value, .jth-regex, .jth-variable {
    color: #7ec699;
}

.jth-operator, .jth-object, .jth-url {
    color: #d9a9ff;
    margin-right: .5rem;
}
.jth-object.jth-lvl_2 {
    margin-left: calc(2 * 2rem);
    margin-right: 0;
}

.jth-entity {
    cursor: help
}

.jth-operator + .jth-punctuator.jth-curly-bracket.jth-opening{
    margin-left: 0;
}

.jth-new-line {
    display: block;
    margin-bottom: .4rem;
}

.jth-property, .jth-class-name, .jth-constant, .jth-symbol {
    color: #f8c555;
}

.jth-property.jth-lvl_1 {
    margin-left: calc(1 * 2rem);
}
.jth-property.jth-lvl_2 {
    margin-left: calc(2 * 2rem);
}
.jth-property.jth-lvl_3 {
    margin-left: calc(3 * 2rem);
}
.jth-property.jth-lvl_4 {
    margin-left: calc(4 * 2rem);
}
.jth-property.jth-lvl_5 {
    margin-left: calc(5 * 2rem);
}
.jth-punctuator.jth-curly-bracket.jth-closing + .jth-comma + .jth-new-line + .jth-property{
    margin-top: .4rem;
}

.selector, .important, .atrule, .keyword, .builtin {
    color: #67cdcc;
}
.tag, .attr-name, .namespace, .deleted {
    color: #e2777a
}
.comment, .block-comment, .prolog, .doctype, .cdata {
    color: #9ca3af
}
.important, .bold {
    font-weight: bold
}
.inserted {
    color: green
}
.italic {
    font-style: italic
}
